$board_padding: 10px;
$cell_size: 50px;
$section_separator_width: 5px;

$body_background: #304064;
$section_background: #e5e8ec;

$board_border_color: #000000;
$board_border_thickness: thin;
$board_bright_cell_color: #dec487;
$board_dark_cell_color: #806420;
$board_option_color: #007f00;
$board_selected_color: #ff0000;

$invalid_text_field_color: #ffaaaa;
$label_font_family: sans-serif;
$label_font_size: $cell_size / 2;
$label_font_weight: normal;
$normal_font_family: sans-serif;
$normal_font_size: 100%;
$normal_font_weight: normal;
$stat_font_family: sans-serif;
$stat_font_size: 30px;
$stat_font_weight: normal;
$section_title_font_family: sans-serif;
$section_title_font_size: 30px;
$section_title_font_weight: bold;


body {
    background-color: $body_background;
}

.hidden {
    display: none;
}
.page-section {
    background-color: $section_background;
    padding: $board_padding;
}

#content {
    display: table;
    margin: 0px auto;
}

#settings {
    float: left;
    margin-right: $section_separator_width;

    font-family: $normal_font_family;
    font-size: $normal_font_size;
    font-weight: $normal_font_weight;

    h1 {
        margin-top: 0.5em;
        margin-bottom: 0.5em;

        font-family: $section_title_font_family;
        font-size: $section_title_font_size;
        font-weight: $section_title_font_weight;
        text-align: center;
    }

    .line {
        clear: both;
        line-height: $normal_font_size * 1.5;
    }
    .spacer {
        clear: both;
        height: 1em;
    }

    .invalid {
        label {
            color: red;
        }
        input[type="text"] {
            background-color: $invalid_text_field_color;
        }
    }
    .error-message {
        color: red;
    }

    input[type="text"] {
        float: right;
        text-align: right;
        width: 3em;
    }
    select {
        float: right;
    }

}

#board-wrapper {
    float: right;

    #board {
        table {
            border-collapse: collapse;

            .cell {
                height: $cell_size;
            }

            .option-cell {
                border: 1px $board_option_color solid;
                background-color: green;
            }
            .selected-cell {
                border: 1px $board_selected_color solid;
            }

            .board-label {
                font-family: $label_font_family;
                font-size: $label_font_size;
                font-weight: $label_font_weight;
                text-align: center;
            }
            .board-corner {
                height: $cell_size / 2;
                width: $cell_size / 2;
            }
            .board-row-label {
                height: $cell_size;
                width: $cell_size / 2;
                line-height: $cell_size;
            }
            .board-col-label {
                height: $cell_size / 2;
                width: $cell_size;
                line-height: $cell_size / 2;
            }

            .cell-bright {
                background-color: $board_bright_cell_color;
            }
            .cell-dark {
                background-color: $board_dark_cell_color;
            }

            .edge-top {
                border-top: $board_border_thickness solid $board_border_color;
            }
            .edge-left {
                border-left: $board_border_thickness solid $board_border_color;
            }
            .edge-right {
                border-right: $board_border_thickness solid $board_border_color;
            }
            .edge-bottom {
                border-bottom: $board_border_thickness solid $board_border_color;
            }

            .checker-white {
                background-color: #bbbbbb;
            }
            .checker-black {
                background-color: #000000;
            }
            .queen-white {
                background-color: #ffffff;
            }
            .queen-black {
                background-color: #444444;
            }
        }
    }

    #board-stats {
        height: $label_font_size;
        margin-top: $section_separator_width;

        font-family: $stat_font_family;
        font-size: $stat_font_size;
        font-weight: $stat_font_weight;
        line-height: $stat_font_size;
        text-align: center;

        #move-counter {
            float: left;
        }
        #turn-tracker {
            float: right;
        }
    }
}
